* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
}

nav {
    background-color: cornflowerblue;
    display: block;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;  
    
}


nav ul li:hover {
    background-color: rgba(0, 217, 255, 0.884);
}

.image {
    display: flex;
    height: 300px;
    width: 300px;
    
}

.parent {
    display: flex;
    justify-content: space-evenly;

}

footer {
    text-align: center;
    
}