* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
}

nav {
    background-color: cornflowerblue;
    display: block;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;  
    
}


nav ul li:hover {
    background-color: rgba(0, 217, 255, 0.884);
}



.hero-section {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 50px;
    background-image: url("../images/world map.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    
    
}

.image {
    display: flex;
    height: 300px;
    width: 300px;
    
}

.parent {
    display: flex;
    justify-content: space-evenly;

}

.destinations {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 30px;
    
}