* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
}

nav {
    background-color: cornflowerblue;
    display: block;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;  
    
}


nav ul li:hover {
    background-color: rgba(0, 217, 255, 0.884);
}

img {
    border-radius: 20%;
    padding: 50px;

}
.parent {
    display: flex;
}



.info {
    font-size: 30px;
    padding: 200px;
}


footer {
    text-align: center;
    
}